{% extends 'bootstrap/base.html' %}
{% block title %} Add books {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Add Book</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control") }}
            {% for error in form.title.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.author.label(class="form-control-label") }}
            {{ form.author(class="form-control") }}
            {% for error in form.author.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.rating.label(class="form-control-label") }}
            {{ form.rating(class="form-control") }}
            {% for error in form.rating.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
